* {
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --w: 1200px;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    background-color: red;
    width: var(--w);
    padding: 100px 50px;
}

.to-do-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.to-do-list p {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

input::placeholder {
    font-size: 20px;
}

input {
    width: 900px;
    height: 40px;
    border: none;
}

.add-text {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 900px 150px;
}

.add-btn {
    padding: 8px 130px;
    font-size: 17px;
    color: rgb(94, 94, 94);
    background-color: rgb(215, 214, 214);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.add-btn:hover {
    background-color: rgb(182, 182, 182);
}


/* Remove margins and padding from the list */

#todo {
    margin: 0;
    padding: 0;
    width: calc(var(--w) + 100px);
}

#todo>div {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 2rem;
    position: relative;
}

#todo>div:nth-child(odd) {
    background: #f9f9f9;
}

#todo>div.finished {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.x {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}