* {
    margin-top: 0;
    margin-bottom: 0;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.header {
    background-color: red;
    width: 1200px;
    padding-top: 100px;
    padding-left: 50px;
}

.to-do-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.to-do-list p {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

input {
    width: 1000px;
    height: 30px;
}

.add-text {
    margin-bottom: 30px;
}