* {
    margin-top: 0;
    margin-bottom: 0;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.header {
    background-color: red;
    width: 1200px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.to-do-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-list p {}