* {
    margin-top: 0;
    margin-bottom: 0;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.header {
    background-color: red;
    width: 1200px;
    padding-top: 100px;
    padding-left: 50px;
}

.to-do-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.to-do-list p {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

input::placeholder {
    font-size: 20px;
}

input {
    width: 900px;
    height: 40px;
    border: none;
}

.add-text {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 900px 150px;
}

.add-btn {
    padding: 8px 130px;
    font-size: 17px;
    color: rgb(94, 94, 94);
    background-color: rgb(215, 214, 214);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.add-btn:hover {
    background-color: rgb(182, 182, 182);
}