* {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
    color: #f90;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.main-div {
    background-color: rgb(74, 74, 74);
    width: 100%;
    padding: 30px;
    padding-left: 200px;
}

.grid-cards {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 100px;
}

.header {
    background-color: rgb(74, 74, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header p {
    color: #f90;
}

.card h3 {
    color: #f90;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card img {
    height: 300px;
    width: 250px;
    margin-bottom: 10px;
}

.card {
    width: 300px;
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    color: #f90;
    padding: 20px;
}

.rating p {
    color: #f90;
    margin-bottom: 10px;
}

.rating input {
    position: relative;
    right: 70px;
    width: 30px;
    background-color: black;
    color: #f90;
}

.grades {
    margin-bottom: 20px;
}

.price {
    position: relative;
    margin-bottom: 20px;
}

.gledaj {
    position: relative;
    right: 15px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(102, 102, 102);
    border: solid 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
    margin-bottom: 20px;
}

.gledaj:hover {
    background-color: rgb(74, 74, 74);
}